* {
	margin:0;
	border:0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}

body {
	position:relative;
	left:50%;
}

header {
	position:fixed;
	height:60px;
	top:0px;
	left:50%;
	padding:0 20px;
	z-index:999;
}

header:after {
	content:"";
	display:block;
	position:absolute;
	left:0; right:0;
	bottom:-5px;
}

#logo {
	display:inline-block;
	width:192px;
	max-width:45%;
	height:60px;
	float:left;
}

#nav {
	position:relative;
	height:100%;
	float:right;
	line-height:60px;
	overflow:hidden;
}

#nav a {
	margin-left:8px;
}

#nav.open {
	height:auto;
}

#splash {
	position:relative;
	display:table;
	width:100%;
	top:80px;
	height:400px;
	padding:50px;
}

#splash .inner {
	display:table-cell;
	width:100%;
	height:100%;
	vertical-align:middle;
}

a.anchor[id] {
	position:relative;
	bottom:70px;
	display:block;
}

.section {
	position:relative;
	margin-bottom:100px;
}

.section hr {
	margin:10px 0;
}

.title h1 {
	display:inline-block;
}

#aboutme {
	top:100px;
	font-size:0;
}

#aboutme p {
	display:table-cell;
	width:66.666%;
	padding-right:10px;
}

#aboutme .img {
	display:table-cell;
	position:relative;
	width:33.333%;
	vertical-align:middle;
	background-color:rgb(30, 30, 30);
}

#aboutme img {
	max-height:100%;
	max-width:33.333%;
	background-color:#f00;
}

#designwork {
	top:110px;
}

.grid {
	font-size:0;
}

.grid a {
	position:relative;
	display:inline-block;
	margin-right:10px;
	margin-bottom:10px;
}

.grid img {
	position:absolute;
	width:100%;
	height:100%;
}

#webdevelopment {
	top:120px;
}

#programming {
	top:130px;
}

#contactme {
	top:140px;
}

#contactme ul {
	padding-left:0;
	margin-left:0;
	list-style:none;
}

#contactme li {
	margin-bottom:10px;
}

.half {
	display:table-cell;
	width:50%;
}

.left {
	padding-right:5px;
}

.right {
	padding-left:5px;
}

#form {
	vertical-align:top;
}

#first, #last {
	width:100%;
}

#email {
	width:100%;
}

#email, #submit {
	margin:10px 0;
}

#submit {
	float:right;
}

#text {
	width:100%;
	resize:none;
}

#contactme .img .half {
	vertical-align:top;
}

#contactme .img {
	overflow:hidden;
}

footer {
	padding:10px 20px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:80px;
}

body:after {
	content:"";
	height:240px;
	display:block;
}

/* detail.php */

#container {
	font-size:0;
	position:relative;
	top:80px;
	text-align:center;
	padding-bottom:-50px;
}

#container p {
	font-size:15px;
	margin:10px 0;
}

#container img {
	max-width:100%;
}

#container a:after {
	content:"";
	display:block;
	width:0;
	height:0;
	margin-bottom:60px;
}

#container a:last-child:after {
	margin-bottom:0;
}

#info {
	position:relative;
	top:140px;
	padding:20px;
}