<!doctype html>
<html ng-app="mainApp">
	<head>
		<meta charset="utf-8">
		
		<script src="assets/js/angular.min.js"></script>
		<script src="assets/js/angular-route.min.js"></script>
		
		<script src="assets/js/main.js"></script>

		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
	
		<link rel="stylesheet" href="assets/css/style.css">
	</head>

	<body class="scrollhack p">
		<ul id="pages" class="scrollhack c">
			<li id="page1" class="centeredbg">
				<div class="centered">
					<h1>My name is Andrew Ault.</h1>
					<h2 class="sub">I do programming, web &amp; graphic design.</h2>
				</div>
				
				<a href="#page2" class="down">vvv what I'm about vvv</a>
			</li>
			
			<li id="page2" class="centeredbg">
				<div class="centered">
					<h2>About me</h2>
					<p>I'm too lazy to finish this website!</p>
				</div>
			</li>
			
			<li class="centeredbg" ng-repeat="(name, cat) in projects" ng-attr-id="page{{$index + 3}}">
				<div class="centered container">
					<h3 class="header" ng-bind="name"></h3>

					<ul>
						<li class="tile noselect" ng-repeat="project in cat" style="background-image:url(assets/programs/{{project[1]}})">
							<a ng-href="{{name}}/{{project[2]}}" ng-bind="project[0]"></a>
						</li>

						<li class="tile background noselect"><a href="{{name}}/background">My Background</a></li>
					</ul>
				</div>
			</li>
			
			<li id="page6" class="centeredbg">
				<div class="centered">
					<h2>contact me</h2>
					<p>shout your messages into the night sky</p>
				</div>
			</li>
		</ul>
	</body>
</html>