<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
	
		<link rel="stylesheet/less" href="/assets/css/style.less">
		
		<script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
		<script src="/assets/js/angular.min.js"></script>
		
		<script src="/assets/js/main.js"></script>
		
		<title>Andrew Ault</title>
	</head>

	<body ng-app="app" ng-controller="ctrl">
		<header>
			<a id="top" href="#intro"></a>

			<nav>
				<a href="#about">About Me</a>
				<a ng-repeat="(cat, nah) in locals.projects" ng-href="#{{cat}}" ng-bind="cat"></a>
				<a href="#contact">Contact</a>
			</nav>
		</header>
		
		<ul id="pages">
			<li class="page centerbg" id="intro">
				<div class="content">
					<div id="logo"></div>
					
					<h1>My name is Andrew Ault.</h1>
					<h2 class="sub">I do programming, web &amp; graphic design.</h2>
				</div>
			</li>
			
			<li class="page" id="about">
				<div class="body">
					<p class="c">I'm a 19 year old sophomore Information Systems major from Myrtle Beach, South Carolina.</p>
					
					<p>I got my start in programming over 7 years ago with a game called Half Life 2: Deathmatch. After accidentally joining a "cheat" server, a server made for the sole purpose of exploiting in-game commands, I learned about scripting. I eventually moved my way up to being an administrator of the same server before moving on to a fan-made successor to the game, Garry's Mod. Through this game, I learned the lua programming language, and have been using it ever since. In the meantime, I joined an unofficial forums for my phone at the time - the LG Vu - and made multiple themes and tutorials for ActionScript. I was promoted to an administrator of the forums as well.</p>
					
					<p>Although I've dabbled with design for almost as long, I didn't get serious with it until 4 years ago, when I transfered to the Digital Communications program at the Academy for Arts, Science, and Technology. During the 2 years I spent with this program, I learned my way around the Adobe master collection, learned the basics art and design, and completed an internship with Native Sons: Screenprint and Embroidery.</p>
					
					<p>After learning both programming and design, it was only natural for me to tie the two together via web development. My first experience with web design began with a website for my band I worked on during my senior year of high school, which I used for my Exhibition of Senior Mastery project. Even though I only have 2 years of experience under my belt, I am proficient in HTML, CSS, and JavaScript, and I specialize in the MEAN development stack. </p>
					
					<p>Currently, my time is spent between continuing to develop for Garry's Mod, working with the Unity engine, developing multiple web projects, and even experimenting with some electronic engineering.</p>
				</div>
			</li>
			
			<li class="page gridded" ng-repeat="(cat, projects) in locals.projects" ng-attr-id="{{cat}}">
				<div class="grid">
					<a ng-repeat="(dir, project) in projects" 
					   class="project"
					   ng-href="{{project.info.path}}"
					   ng-attr-data-name="{{project.info.name}}"
					   ng-style="{'background-image': 'url(' + project.info.path + '/preview.png)'}"
					   ng-click="$event.preventDefault(); popup(project)">
						
						<span ng-bind="project.info.title"></span>
					</a>
				</div>
			</li>
			
			<li class="page" id="contact">
				<form id="contact">
					<p id="response" ng-show="response" ng-bind="response" ng-class="{error: response !== 'Thanks!'}"></p>
				
					<label for="email">Email</label>
					<input id="email" type="text" placeholder="Enter your email" ng-model="email" ng-class="{invalid: validateEmail()}" ng-disabled="contacted">
					
					<label for="body">Message</label>
					<textarea id="body" placeholder="Enter your message" ng-model="body" ng-class="{invalid: !body.length}" ng-disabled="contacted"></textarea>
					
					<input id="submit" type="submit" value="Contact me" ng-click="submitForm()" ng-disabled="contacted">
					
					<p>You can also send me an email at <a href="mailto:contact@andrewault.me">contact@andrewault.me</a>.</p>
				</form>
			</li>
		</ul>
		
		<div id="modal" ng-click="hidePopup()">
			<div id="window" ng-click="$event.stopPropagation()">
				<div ng-show="curProject.info.cat == 'designs' || curProject.info.type == 'design'">
					<div id="carousel">
						<a class="image" ng-href="{{curProject.info.path}}/{{curProject.info.files[curProject.curFile][1]}}">
							<img ng-src="{{curProject.info.path}}/{{curProject.info.files[curProject.curFile][0]}}">
						</a>

						<a href id="left" ng-click="moveCarousel(-1)"></a>
						<a href id="right" ng-click="moveCarousel(1)"></a>
					</div>

					<div id="thumbnails">
						<a ng-repeat="image in curProject.info.files track by $index"
						   class="thumb"
						   ng-href="{{curProject.info.path}}{{$index ? '/' + $index : ''}}"
						   ng-style="{'background-image': 'url({{curProject.info.path}}/{{image[0]}})'}"
						   ng-class="{active: curProject.curFile == $index}"
						   ng-click="$event.preventDefault(); curProject.curFile = $index; moveCarousel()">
						</a>
					</div>
				</div>
				
				<div id="external" ng-show="curProject.info.cat == 'webdev' || curProject.info.href">
					<a ng-href="{{curProject.info.href || '/' + curProject.info.name}}" ng-bind="curProject.info.link || 'Go to website'"></a>
				</div>
			
				<div id="info">
					<h1 class="title" ng-bind="curProject.info.title"></h1>
					<p class="desc" ng-bind="curProject.info.desc"></p>
				</div>
			</div>
		</div>
	</body>
</html>