//reset
*, *:before, *:after {
	margin:0;
	border:0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}

//variables
@font: 		Montserrat;
@bodyFont: 	Open Sans;
@bodySize: 	14px;
@bodyLnHt: 	1.618em;
@transDur: 	0.3s;

//the basics
h1, h2, h3 {
	font-family:@font;
	text-transform:uppercase;
}

h1 {
	font-size:32px;
	text-align:center;
}

h2 { font-size:24px }

.centerbg {
	&:before {
	content:' ';
	display:inline-block;
	height:100%;
	vertical-align:middle;
	margin-right:-0.25em;
}
}

.center {
	display:inline-block;
	vertical-align:middle;
}

//set up our full page stuff
html, body {
	width:100%;
	height:100%;
	min-width:100%;
	min-height:100%;
}

//the goods
header {
	position:absolute;
	bottom:0;
	height:60px;
	left:0;
	right:0;
	
	font-family:@font;
	text-transform:uppercase;
	text-align:center;
	outline:1px solid #000;
	background:#fff;
	font-size:0;
	line-height:60px;
	z-index:1;
	
	#top, nav {
		transition-duration:@transDur;
	}
	
	//transition-property:background;
	
	#top {
		position:absolute;
		display:inline-block;
		width:87px;
		height:60px;
		left:50%;
		margin-left:-41.5px;
		
		background:url(/assets/img/logo.svg) center center no-repeat;
		opacity:0;
		
		transition-property:left, margin-left, opacity;
	}
	
	&.sticky {
		position:fixed;
		top:0;
		
		background:#fff;
		
		#top {
			left:10px;
			margin-left:0;
			
			opacity:1;
		}
		
		nav {
			right:10px;
			margin-right:0;
		}
	}
	
	nav {
		position:absolute;
		display:block;
		width:460px;
		right:50%;
		margin-right:-230px;
		
		text-align:center;
		
		transition-property:right, margin-right;
	
		a {
			display:inline-block;
			float:left;
			width:92px;
			height:60px;

			text-decoration:none;
			color:#000;
			font-size:14px;

			&:hover {
				color:#ccc !important;
			}
			
			&.active {
				color:#aaa;
			}
		}
	}
}

ul#pages {
	display:block;
	width:100%;
	height:100%;
	
	text-align:center;
	list-style:none;
	padding:0;
	
	li.page {
		position:relative;
		display:block;
		width:100%;
		min-height:100%;
		outline:1px solid #000;
		
		&:after {
			content:attr(id);
			position:absolute;
			width:200px;
			right:50%;
			margin-right:450px;
			padding-right:10px;
			top:100px;
			
			font-family:@font;
			text-transform:uppercase;
			font-size:20px;
			text-align:right;
		}
		
		&.gridded {
			padding-top:100px;
		}
		
		.content {
			.center;
			width:900px;
		}
		
		.grid {
			position:relative;
			width:915px;
			left:50%;
			margin-left:-450px;
			
			font-size:0;
			text-align:left;
		}
		
		.project {
			position:relative;
			display:inline-block;
			width:290px;
			height:190px;
			margin-right:15px;
			margin-bottom:15px;
			
			.centerbg;
			
			background-position:center center;
			background-size:290px 190px;
			text-align:center;
			z-index:0;
			
			&, span, span:before {
				transition-property:background, opacity;
				transition-duration:@transDur;
			}
			
			&:hover {
				background-size:400px 262px;
				
				span, span:before {
					opacity:1;
				}
			}
			
			span {
				.center;
				
				font-family:@font;
				text-transform:uppercase;
				font-size:18px;
				color:#fff;
				opacity:0;
				z-index:1;
				
				&:before {
					content:'';
					position:absolute;
					display:block;
					top:0; right:0;
					bottom:0; left:0;
					
					background:rgba(0, 0, 0, 0.2);
					opacity:0;
					z-index:-1;
				}
			}
		}
	}
}

#intro {
	height:0;
	
	//background:url(../img/background.jpg);
	//background-size:100% auto;
	//background-position:0 -100px;
	
	.content {
		width:auto !important;
	}
	
	&:after {
		display:none;
	}
	
	#logo {
		position:relative;
		display:inline-block;
		bottom:48px;
		width:155px;
		height:34px;
		
		background:url(/assets/img/logo.svg) center top no-repeat;
		border-bottom:1px solid #000;
	}
}

#about {
	padding-bottom:100px;
	
	.body {
		position:relative;
		width:554px;
		left:50%;
		margin-left:-300px;
		top:100px;
		padding-bottom:100px;
		
		text-align:left;
		font-family:@bodyFont;
		font-size:@bodySize;
		
		p {
			margin-bottom:1.618em;
			line-height:@bodyLnHt;
			
			text-indent:2.5em;
			
			&.c {
				text-indent:0;
				text-align:center;
			}
		}
	}
}

#contact {
	form {
		position:absolute;
		top:100px;
		width:600px;
		right:50%;
		margin-right:-300px;
		padding-bottom:100px;
		
		text-align:left;
		
		* {
			font-family:Open Sans;
			font-size:16px;
		}
		
		input, textarea {
			margin-bottom:10px;
			border:1px solid #000;
			
			transition:@transDur box-shadow;
			
			&.ng-touched.invalid {
				border-color:#c32;
				box-shadow:#c32 0 0 4px;
			}
		}
		
		#email {
			display:block;
			width:100%;
		}
		
		#body {
			width:100%;
			height:300px;
			
			resize:vertical;
		}
		
		#submit {
			float:right;
		}
		
		p {
			font-size:@bodySize;
			line-height:26.5px;
			
			a {
				font-size:inherit;
			}
		}
		
		#response {
			text-align:center;
			line-height:30px;
			color:#3c6;
			
			height:30px;
			max-height:0;
			overflow:hidden;
			
			transition:@transDur max-height;
			
			//this is sketchy but it stops it from animating on page load
			&.ng-binding { max-height:30px }
			
			&.ng-hide {
				display:block !important;
				max-height:0;
			}
			
			&.error { color:#c32 }
		}
	}
}

#modal {
	display:none;
	
	position:fixed;
	top:0; right:0;
	bottom:0; left:0;
	
	background:rgba(0, 0, 0, 0.2);
	z-index:2;
	
	#window {
		position:absolute;
		width:900px;
		top:30px;
		bottom:30px;
		left:50%;
		margin-left:-450px;
		overflow-y:scroll;
		
		background:#fff;
		
		#carousel {
			position:relative;
			width:880px;
			height:300px;
			margin:10px;
			
			text-align:center;
			
			.image {
				font-size:0;
				
				img {
					max-height:300px;
				}
			}
			
			#left, #right {
				position:absolute;
				display:block;
				width:50px;
				height:100%;
				top:0;
				
				font-size:0;
				background:rgba(0, 0, 0, 0.2);
				
				transition:background 0.1s;
				
				&:hover {
					background:rgba(0, 0, 0, 0.4);
				}
				
				&:before {
					content:"";
					
					position:relative;
					display:block;
					width:0;
					height:0;
					top:50%;
					left:50%;
					margin-top:-20px;
					margin-left:-15px;
					
					border-top:20px solid transparent;
					border-bottom:20px solid transparent;
				}
			}
			
			#left {
				left:0;
			
				&:before {
					border-right:30px solid #fff;
				}
			}
			
			#right {
				right:0;
			
				&:before {
					border-left:30px solid #fff;
				}
			}
		}
		
		#thumbnails {
			width:880px;
			height:100px;
			margin:10px;
			
			text-align:center;
			
			.thumb {
				display:inline-block;
				width:100px;
				height:100px;
				margin:0 10px;
				
				background-position:center center;
				background-size:contain;
				background-repeat:no-repeat;
				opacity:0.5;
				
				&.active, &:hover {
					opacity:1;
				}
			}
		}
		
		#external {
			width:100%;
			height:100px;
			
			text-align:center;
			
			a {
				display:inline-block;
				height:20px;
				margin:40px 0;
				
				font-size:20px;
				text-decoration:none;
				font-family:@bodyFont;
			}
		}
		
		#info {
			.title {
				margin-bottom:10px;
			}
			
			.desc {
				margin-bottom:50px;
				
				font-family:@bodyFont;
				font-size:@bodySize;
				line-height:@bodyLnHt;
				text-indent:2.5em;
			}
		}
	}
}

//media queries :(
@media (max-width:480px) {
	h1 { font-size:30px; }
	h2 { font-size:18px; }
	
	header {
		height:40px;
		line-height:40px;
		
		#top { display:none; }
		
		nav {
			width:100%;
			right:0 !important;
			margin-right:0 !important;
			padding:0 10px;
			
			a {
				width:20%;
				height:40px;
				
				font-size:10px;
				font-family:@bodyFont;
			}
		}
	}
	
	ul#pages {
		li.page {
			&:after {
				height:40px;
				top:60px;
				margin-right:-50px;
				
				text-align:left;
				line-height:40px;
			}
			
			.project span, .project span:before {
				opacity:1;
			}
		}
		
		.content {
			width:300px;
		}
	}
	
	#intro {
		.content { width:300px !important; }
		h1 { margin-bottom:16px; }
		#logo { bottom:16px; }
	}
	
	#about {
		.body {
			width:300px;
			margin-left:-150px;
			padding-bottom:40px;
			
			font-size:11px;
			
			p {	text-indent:1.618em; }
		}
	}
	
	#contact {
		form {
			width:300px;
			margin-right:-150px;
			
			* {
				font-size:12px;
			}
			
			#body {
				height:150px;
			}
			
			p {
				font-size:11px;
				line-height:21px;
			}
		}
	}
	
	#modal #window {
		top:10px; left:10px;
		bottom:10px; right:10px;
		width:auto;
		margin-left:0;
		
		#carousel {
			width:100%;
			height:280px;
			margin:0;
			padding:10px;
			
			.image img {
				max-height:260px;
			}
			
			#left, #right {
				display:none;
			}
		}
		
		#thumbnails {
			width:100%;
			height:auto;
			margin:0;
			padding:10px;
			
			.thumb {
				width:50px;
				height:50px;
			}
		}
		
		#info {
			.title, .desc {
				padding:0 10px;
			}
			
			.desc {
				font-size:11px;
				text-indent:1.618em;
			}
		}
	}
}

@media (min-width:481px) and (max-width:768px) {
	h1 { font-size:30px; }
	h2 { font-size:18px; }
	
	header {
		height:40px;
		line-height:40px;
		
		#top { display:none; }
		
		nav {
			width:100%;
			right:0 !important;
			margin-right:0 !important;
			padding:0 10px;
			
			a {
				width:20%;
				height:40px;
			}
		}
	}
	
	ul#pages {
		li.page {
			&:after {
				height:40px;
				top:60px;
				margin-right:40px;
				
				text-align:left;
				line-height:40px;
			}			
			
			.project span, .project span:before {
				opacity:1;
			}
			
			.project:nth-of-type(2n) {
				margin-right:0;
			}
		}
	}
	
	#intro {
		.content { width:480px !important; }
		h1 { margin-bottom:16px; }
		#logo { bottom:16px; }
	}
	
	#about {
		.body {
			width:480px;
			margin-left:-240px;
			padding-bottom:40px;
			
			font-size:14px;
			
			p {	text-indent:1.618em; }
		}
	}
	
	#contact {
		form {
			width:480px;
			margin-right:-240px;
			
			* {
				font-size:14px;
			}
			
			#body {
				height:150px;
			}
			
			p {
				font-size:12px;
				line-height:23.5px;
			}
		}
	}
	
	#modal #window {
		top:10px; left:10px;
		bottom:10px; right:10px;
		width:auto;
		margin-left:0;
		
		#carousel {
			width:100%;
			height:280px;
			margin:0;
			padding:10px;
			
			.image img {
				max-height:260px;
			}
			
			#left, #right {
				display:none;
			}
		}
		
		#thumbnails {
			width:100%;
			height:auto;
			margin:0;
			padding:10px;
			
			.thumb {
				width:64px;
				height:64px;
			}
		}
		
		#info {
			.title, .desc {
				padding:0 10px;
			}
			
			.desc {
				font-size:11px;
				text-indent:1.618em;
			}
		}
	}
}

@media (min-width:769px) and (max-width:900px) {
	ul#pages {
		li.page {
			&:after {
				height:40px;
				top:60px;
				margin-right:100px;
				
				text-align:left;
				line-height:40px;
			}
			
			.project:nth-of-type(2n) {
				margin-right:0;
			}
		}
	}
	
	#modal #window {
		width:720px;
		margin-left:-360px;
		
		#carousel {
			width:100%;
			height:280px;
			margin:0;
			padding:10px;
			
			.image img {
				max-height:260px;
			}
			
			#left, #right {
				display:none;
			}
		}
		
		#thumbnails {
			width:100%;
			height:auto;
			margin:0;
			padding:10px;
			
			.thumb {
				width:86px;
				height:86px;
			}
		}
		
		#info {
			.title, .desc {
				padding:0 10px;
			}
			
			.desc {
				font-size:11px;
				text-indent:1.618em;
			}
		}
	}
}

@media (min-width:901px) and (max-width:1200px) {
	ul#pages {
		li.page {
			&:after {
				height:40px;
				top:60px;
				margin-right:250px;
				
				text-align:left;
				line-height:40px;
			}
		}
	}
}

//grid widths, barf
@media (max-width:614px) {
	ul#pages li.page .grid {
		width:290px;
		margin-left:-145px;
	}
}

@media (min-width:615px) and (max-width:900px) {
	ul#pages li.page .grid {
		width:595px;
		margin-left:-297.5px;
	}
}